<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="overflow:hidden">
    <img src="../static/imgs/fights.svg" alt="" id = "fights">
    <div class="zero1">
        <p>02</p>
    </div>
    <div class="lous" style="left: 15vw">
        <p>Watch Live <br>Fights <br></p>
    </div>
    <div class="details">
                    <p style="font-size: 0.75vw;"><strong>Fight 1</strong><br>Venue: Lou's Basement <br>Timings: 19h00 - 22h00 <br>Fighters: Narrator vs Narrator</p>
    </div>
    <div class="picstures">
        <img src="../static/imgs/pics.svg" alt="">
    </div>
</body>
</html>