    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LOGIN</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body style="overflow:hidden">
        <div class="img-section">
            <img src="../static/imgs/tyler.png" alt="" class="tyler">
            <img src="../static/imgs/line.svg" alt="" class="line">
        </div>
        <form class="right-section">
            <div class="login-container">
                <img src="../static/imgs/login.svg" alt="" id="login">
            </div>
            <div class="uname-container">
                <img src="../static/imgs/username.svg" alt="" id="username">
                <input type="text" name="uname" id="uname">
            </div>
            <div class="psw-container">
                <img src="../static/imgs/password.svg" alt="" id="password">
                <input type="text" name="psw" id="psw">
            </div>
            <div class="submit-container">
                <img src="../static/imgs/submit.svg" alt="" id="submitb">
                <input type="submit" name="submit" id="submit" value="">
            </div>
            <div class="flicker1">
                <img src="../static/imgs/flicker1.svg" alt="">
            </div>
        </form>
        <img src="../static/imgs/group.svg" alt="" class = "group">
        <div class="tylerdurden">
            IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST IN TYLER DURDEN WE TRUST
        </div>
    </body>
    </html>