<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venues</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="overflow:hidden;">
    <img src="../static/imgs/venues.svg" id = "venues" alt="">
    <div class="img-container">
        <img src="../static/imgs/pic.png" alt="" id="pic">
        <img src="../static/imgs/bases.svg" alt="" class="bases">
        <div class="arrows">
            <img src="../static/imgs/arrowbsdk1.svg" alt="">
            <img src="../static/imgs/arrowbsdk2.svg" alt="">
        </div>
    </div>
    <div class="zero1">
        <p>01</p>
    </div>
    <div class="lous">
        <p>Lou's <br>Basement <br><span>new basement</span></p>
    </div>
    <div class="stress">
        <p>Don’t stress about where to go- we’ve made it easy. Just take a look below and see what kind of spots you vibe with.</p>
    </div>
</body>
</html>